        
        <div class="responsive-description">
            <h2>
                Just type the URL you desire and see the magic!!!
            </h2>

            <h3>By Sheldon Youngo. 2023</h3>
            
            <div class="icons">
                <a href="http://https://github.com/SheldonYoungo?tab=repositories" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>

                <a href="https://www.linkedin.com/in/sheldon-youngo/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>

    </main>
</body>
</html>