<%- include('header') %>

    <aside>
        <img src="qr_codes/<%= qrSource %>">

        <h2 style="display: <%= messageDisplay %>;">Your QR is done. Scan it!!!</h2>

        <form action="/" method="post">
            <label>
                <input type="url" placeholder="Insert your URL" name="url" id="">
    
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </label>
        </form>
    </aside>

<%- include('footer') %>